.App {
  text-align: center;
}


.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(15, 121, 167);
}

.title-input {
  background-color: #282c34;
  color: rgb(15, 121, 167);
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  border:solid 1px #ccc;
}